{% extends 'base.html' %}


{% block content %}
{% load static %}
<style>
    .team-card-style-1, .team-card-style-3, .team-card-style-5 {
        position: relative;
        max-width: 360px;
        text-align: center;
        background:#fff;
       box-shadow: 0 22px 36px -12px rgba(64, 64, 64, .13);
      }
      .team-contact-link {
        display: block;
        margin-top: 4px;
        transition: all 0.25s;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
      }
      .team-contact-link > i {
        display: inline-block;
        font-size: 1.1em;
        vertical-align: middle;
      }
      .team-card-style-1 .team-position, .team-card-style-3 .team-position, .team-card-style-4 .team-position {
        display: block;
        margin-bottom: 8px;
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 700;
        opacity: 0.6;
      }
      .team-card-style-3 .team-name, .team-card-style-4 .team-name, .team-card-style-5 .team-name {
        margin-bottom: 16px;
        font-size: 15px;
        font-weight: 600;
      }
      .team-thumb > img {
        display: block;
        width: 100%;
      }
      .team-card-style-1 {
        padding-bottom: 36px;
      }
      .team-card-style-1 > * {
        position: relative;
        z-index: 5;
      }
      .team-card-style-1::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: all 0.3s 0.12s;
        content: '';
        opacity: 0;
      }
      .team-card-style-1 .team-card-inner {
        margin-bottom: 16px;
        padding-top: 48px;
        padding-right: 16px;
        padding-bottom: 20px;
        padding-left: 16px;
        background-color: #fff;
        box-shadow: 0 22px 36px -12px rgba(64, 64, 64, .13);
      }
      .team-card-style-1 .team-thumb {
        width: 108px;
        height: 108px;
        margin: auto;
        margin-bottom: 16px;
        border-radius: 50%;
        overflow: hidden;
      }
      .team-card-style-1 .team-social-bar {
        margin-top: 16px;
        margin-bottom: 8px;
        transform: scale(0.8);
      }
      .team-card-style-1 .team-contact-link {
        transition-delay: 0.12s;
        color: #8c8c8c;
        opacity: 0.6;
      }
      .team-card-style-1 .team-contact-link:hover {
        color: #8c8c8c;
        opacity: 1;
      }
      .team-card-style-1 .team-card-inner, .team-card-style-1 .team-thumb, .team-card-style-1 .team-social-bar {
        transition: all 0.3s 0.12s;
      }
      .team-card-style-1 .team-position, .team-card-style-1 .team-name {
        transition: color 0.3s 0.12s;
      }
      .team-card-style-1 .team-name {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
      }
      .no-touchevents .team-card-style-1:hover::before {
        height: 100%;
        box-shadow: 0 22px 36px -12px rgba(64, 64, 64, .13);
        opacity: 1;
      }
      .no-touchevents .team-card-style-1:hover .team-card-inner {
        background-color: transparent;
        box-shadow: none;
      }
      .no-touchevents .team-card-style-1:hover .team-thumb {
        transform: scale(1.1);
      }
      .no-touchevents .team-card-style-1:hover .team-social-bar {
        transform: scale(1);
      }
      .no-touchevents .team-card-style-1:hover .team-contact-link, .no-touchevents .team-card-style-1:hover .team-position, .no-touchevents .team-card-style-1:hover .team-name {
        color: #fff;
      }
      .no-touchevents .team-card-style-1:hover .team-contact-link {
        opacity: 1;
      }
    .team-card-style-3, .team-card-style-4 {
        position: relative;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 38px;
        padding-left: 20px;
        transition: all 0.35s;
        border: 1px solid #e7e7e7;
      }
      .team-card-style-3 .team-thumb, .team-card-style-4 .team-thumb {
        width: 110px;
        margin: auto;
        margin-bottom: 17px;
      }
      .team-card-style-3 .team-position, .team-card-style-4 .team-position {
        margin-bottom: 0;
      }
      .team-card-style-3 .team-contact-link, .team-card-style-4 .team-contact-link {
        color: #404040;
        font-weight: 600;
      }
      .team-card-style-3 .team-contact-link > i, .team-card-style-4 .team-contact-link > i {
        color: #8c8c8c !important;
      }
      .team-card-style-3 .team-contact-link:hover, .team-card-style-4 .team-contact-link:hover {
        color: rgba(64, 64, 64, .6);
      }
      .team-card-style-3 .team-social-bar-wrap, .team-card-style-4 .team-social-bar-wrap {
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
      }
      .team-card-style-3 .team-social-bar-wrap > .team-social-bar, .team-card-style-4 .team-social-bar-wrap > .team-social-bar {
        display: table;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
      }
      .team-card-style-3:hover, .team-card-style-4:hover {
        border-color: transparent;
        box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
      }
</style>
    <div class="container-xxl  p-0">

        <!-- Job Detail Start -->
        <div  class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div  class="container">
                <div class="row gy-5 gx-4">
                    <div style="border-radius: 25px; padding: 20px; background-color: black;box-shadow: 0px 0px 10px rgb(191, 9, 237);" class="col-lg-8">
                        <div style="border-radius: 25px;box-shadow: 0px 0px 5px darkblue;padding: 20px; background-image: url('{% static 'img/jobpost.jpg' %}');background-size: 100% 100%;" class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="{{ post.rel_comp_comp.company_logo.url }}" alt="" style="width: 80px; height: 80px;">
                            <div style="color: rgba(255, 255, 255, 0.758);" class="text-start ps-4">
                                <h3 style="color: rgb(215, 107, 129);" class="mb-3">{{ post.jobtitle }}</h3>
                                <h5 style="color: rgb(98, 98, 196);" class="mb-3">{{ post.rel_comp_comp.company_name }}</h5>
                                <span class=" me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ post.location }}</span>
                                <span class=" me-3"><i class="far fa-clock text-primary me-2"></i>{{ post.jobtype }}</span>
                                <span class=" me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>₹{{ post.price_range }}</span>
                            </div>
                            <span>{{ post.category }}</span>
                        </div>

                        <div style="color: rgba(255, 255, 255, 0.758);" class="mb-5">
                            <a href="{% url 'job_status' post.id %}"><button style="border-radius: 10px;background-color: deeppink;padding: 5px;" >{% if post.status %} Published {% else %} Not Published {% endif %} </button></a>

                            <h4 style="color: rgb(113, 206, 206);" class="mb-3">Job description</h4>
                            <p>{{ post.job_discription }}</p>
                            <h4 style="color: rgb(113, 206, 206);" class="mb-3">Responsibility</h4>
                            <p>{{ post.required }}</p>
                            <h4 style="color: rgb(113, 206, 206);" class="mb-3">Qualifications</h4>
                            <p>{{ post.education }}</p>
                        </div>
        
                        <div class="">
                            <section class="container py-5">
                                <h2 style="color: rgb(113, 206, 206);" class="h4 block-title text-center mt-2">Applied Employees</h2>
                                <div class="row pt-3">
                                    <!-- Author-->
                                    {% for apl in apl %}
                                    <div style=" box-shadow: 0px 0px 5px crimson;background-color: rgb(32, 126, 208); margin-left: 15px ;" class="col-lg-3 col-sm-6  pb-2">
                                        <div  class="team-card-style-3 mx-auto">
                                            <div class="team-thumb"><img src="{{ apl.rel_empl_post.profile_img.url }}" alt="Author Picture">
                                            </div>
                                            <h4 class="team-name">{{ apl.rel_profile.first_name }} {{ apl.rel_profile.last_name }}</h4>
                                            <small>{{ apl.rel_empl_post.profile_title }}</small>
                                            <a class="team-contact-link" href="{% url 'applied_employee_profile' apl.id %}">Profile Details</a>
                                            <div class="team-social-bar-wrap">
                                                <div class="team-social-bar">
                                                  <button style="border-radius: 5px;background-color: rgb(159, 159, 239);" >{{ apl.selected }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                    <!-- <table>
                                      <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>status</th>
                                        
                                      </tr>
                                      {% for apl in apl %}
                                      <tr>
                                        <td></td>
                                        <td>{{ apl.rel_profile.first_name }} {{ apl.rel_profile.last_name }}</td>
                                        <td>
                                          <form action="{% url 'empl_status_change' apl.id %}" method="post">
                                            {% csrf_token %}
                                          <select name="status_{{ apl.id }}">
                                            <option value="Waiting for Review">Waiting</option>
                                            <option value="Your Selected">Waiting</option>
                                            <option value="Rejected">Waiting</option>
                                            
                                          </select>
                                        
                                          <input type="submit" value="Save">
                                        </form>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </table> -->
                                  

                                </div>
                            </section>

                            
                            
                            <!-- {% for apl in apl %}
                                {{ apl.rel_profile.first_name }}
                                {{ apl.rel_empl_post.profile_title }}
                                <br>
                            {% endfor %} -->
                                
                        </div>
                    </div>
        
                    <div class="col-lg-4">
                        <div style="border-radius: 25px;color: rgba(255, 255, 255, 0.758);:box-shadow: 0px 0px 5px darkblue;background-image: url('{% static 'img/detjob1.jpg' %}');background-size: 100% 100%;" class="  p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                          <h4 style="color: rgb(113, 206, 206);" class="mb-4">Job Summery</h4>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Published: {{ post.posttime }}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: {{ post.vacancy }}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: {{ post.vacancy }} </p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: ₹{{ post.price_range }}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{ post.location }}</p>
                            <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: {{ post.last_date }}</p>
                        </div>
                        <div style="border-radius: 25px;color: rgba(255, 255, 255, 0.758);box-shadow: 0px 0px 5px darkblue;background-image: url('{% static 'img/detjob2.jpg' %}');background-size: 100% 100%;"  class="  p-5 wow slideInUp" data-wow-delay="0.1s">
                          <h4 style="color: rgb(113, 206, 206);" class="mb-4">Company Detail</h4>
                            <p class="m-0">{{ post.rel_comp_comp.about_us_discpt }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->

</html>
{% endblock content %}