{% extends 'base.html' %}


{% block content %}
{% load static %}

<div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-60">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="{% static 'img/login2.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height: 550px;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <img style="width: 300px;" src="{% static 'img/newlog.png' %}" alt="">
                        </div>
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter OTP</h5>
                        <form method="post">
                            {% csrf_token %}
                      
                            <div class="form-outline mb-4">
                                <input type="number" name="otp"  class="form-control form-control-lg" />
                                <label class="form-label" for="">OTP</label>
                            </div>

                            <button class="btn btn-dark btn-lg btn-block" type="submit">Submit</button>
              
                        </form>
                        {% for msg in messages %}
                            <br><span style="color:{% if msg.tags == 'success' %}green{% else %}red{% endif %}">{{ msg }}</span><br>
                        {% endfor %} 
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    

{% endblock content %}
    